<div fxFlex ngClass="container" ngClass.xs="container-xs">
  <h1>Forgot Password</h1>
    <div *ngIf="enterEmail">
      <form [formGroup]="emailForm">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="flex-container">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" dir="rtl" fxLayoutAlign="right right">
          <button mat-raised-button color="primary" (click)="requestPin(emailFormControl.value, emailFormControl.valid)">Submit</button>
        </div>
      </form>
    </div>
    <div *ngIf="enterPin">
      <form [formGroup]="pinForm">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="flex-container">
          <p>
            A pin has been sent to the email account. Please open your email and enter the pin below
          </p>>
          <mat-form-field>
            <input matInput placeholder="Pin" type="number" maxlength="4" formControlName="pinFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="pinFormControl.hasError('pattern') && !pinFormControl.hasError('required')">
              Pin contains only numbers
            </mat-error>
            <mat-error *ngIf="pinFormControl.hasError('required')">
              Pin is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" dir="rtl" fxLayoutAlign="right right">
          <button mat-raised-button color="primary" (click)="validatePin(pinFormControl.value, pinFormControl.valid)">Validate</button>
        </div>
      </form>
    </div>
    <div *ngIf="resetPassword">
      <form [formGroup]="resetForm">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="flex-container">
          <mat-form-field>
            <input matInput type="password" placeholder="Password" app-compare="verifyPassword" parent="true" formControlName="password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Verify Password" formControlName="verifyPassword" app-compare="password" parent="false" [errorStateMatcher]="matcher">
            <mat-error *ngIf="verifyPassword.hasError('compare') && !verifyPassword.hasError('required')">
              Passwords Don't match!
            </mat-error>
            <mat-error *ngIf="verifyPassword.hasError('required')">
              Verify password is a required field!
            </mat-error>
          </mat-form-field>
          </div>
          <div fxLayout="row" dir="rtl" fxLayoutAlign="right right">
            <button mat-raised-button color="primary" (click)="validatePin(password.value, password.valid && resetPassword.valid)">Save</button>
          </div>
      </form>
    </div>
</div>